.badge .btn-close {
  filter: invert(1) grayscale(1);
  opacity: .6;
  transform: translateY(-1px);
}
.badge .btn-close:hover { opacity: 1; }

.recipe-card img { object-fit: cover; height: 160px; }
.card { border-radius: 1rem; }
